.custom-dropdown-menu {
  width: 300px; /* Kenglikni kerakli qiymatga o'zgartiring */
  height: 200px; /* Balandlikni kerakli qiymatga o'zgartiring */
  display: flex;
  flex-direction: column;
  justify-content: stretch; /* Yangi qo'shilgan */
  row-gap: 12px;
}

.custom-dropdown-menu-item {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center; /* Qo'shimcha stil, agar matnni markazga joylashtirish kerak bo'lsa */
  background-color: #fff;
}

.custom-dropdown-menu-item:active {
  background-color: blue;
}
