@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light: #ffffff;
  --primary: #1b5bf7;
  --dark: #18191f;
  --font: "Manrope", sans-serif;
}

body {
  background: #ffffff;
  font-family: "Manrope", sans-serif;
}
